<dl class="sub-nav">
  <dt>Posts:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><%= link_to 'New Post', new_post_path %></dd>
  <dd><%= link_to 'Your Posts' %></dd>
  <dd><%= link_to 'Following' %></dd></dl>