<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">Active</a></dd>
  <dd><a href="#">Pending</a></dd>
  <dd><a href="#">Suspended</a></dd>
</dl>

<h1>All Posts</h1>
<br>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.name if post.user %></td>
        <td><%= link_to post.content, post %></td>
       <!--  <td><%# link_to 'Show', post %></td>
        <td><%# link_to 'Edit', edit_post_path(post) %></td>
        <td><%# link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
